body {
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
  padding: 10px;
  background-color: rgb(56, 130, 165);
}


header #logo {
  max-height: 30px;
}

header a{
  color: white;
}

#content{
  text-align: center;
  /*min-height: 200px;*/
}

footer {
  text-align: center;
  border-top: 1px solid #d9d9d9;
  padding: 10px;
  margin-top: 10px;
}